<div class="flex items-center justify-center pbs-12 pbe-12 pis-6 pie-6 mb-8">
  <div class="flex items-center gap">
    <div class="shrink-0">
      <img src="<%= asset_path('search.svg') %>" class="w-32 h-24 opacity-50" alt="No data available" />
    </div>
    <div class="text-subtle pis-8">
      <p class="text-lg font-semibold mbe-2"><%= title %></p>
      <p class="text-sm"><%= description %></p>
    </div>
  </div>
</div>
