* {
  font-family: AvenirNextPro, sans-serif
}

a {
  text-decoration: underline;
  color: #0048b5;
}

#header {
  background-color: #ffc91f;
}

#header a {
  color: black
}

#header a:hover {
  background-color: #ffe284;
}

a:hover {
  cursor: pointer;
}

/* Dark mode */
html[data-color-scheme="dark"] a {
  color: #ffc91f;
}

html[data-color-scheme="dark"] .card {
  background-color: rgb(47, 47, 47);
  border: 1px solid rgb(64, 64, 64);
}

html[data-color-scheme="dark"] #header {
  background-color: rgb(32, 32, 32)
}

html[data-color-scheme="dark"] #header a {
  color: #ffc91f;
}

html[data-color-scheme="dark"] .badge--positive-inverse {
  background-color: rgb(47, 47, 47);
}

html[data-color-scheme="dark"] .badge--negative-inverse {
  background-color: rgb(47, 47, 47);
}

html[data-color-scheme="dark"] .input {
  background: #535252;
  border: 1px solid #7e7d7d;
}

.hidden {
  display: none;
}

/* REQUEST OPERATIONS GRAPH */
.operations-table {
  width: 100%;
}

.operations-table tr {
  cursor: pointer;
}

.operations-label-cell {
  width: 380px;
  max-width: 380px;
  min-width: 120px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.operations-label-cell span {
  font-family: 'Times New Roman', Times, serif;
}

.operations-duration-cell {
  width: 60px;
  max-width: 100px;
}

.operations-event-cell {
  position: relative;
  background: none;
  padding: 0;
}

.operations-event {
  box-sizing: border-box;
  height: 16px;
  padding: 2px;
  position: absolute;
  top: 11px;
}

/* REQUEST OPERATIONS BAR */
.bar-container {
  height:10px;
  position:relative
}
.bar {
  background-color:#727579;
  height:100%;
  position:absolute;
  top:0
}
.bar:first-child {
  border-bottom-left-radius:1px;
  border-top-left-radius:1px
}
.bar:last-child {
  border-bottom-right-radius:1px;
  border-top-right-radius:1px
}
