<div class="card">
  <div class="flex flex-col">
    <div class="flex">
      <!-- Skeleton title -->
      <h2 class="grow font-semibold leading-none mie-4 uppercase text-xs skeleton" style="height: 20px; width: 40%;"></h2>

      <div class="flex gap items-center">
        <!-- Skeleton links -->
        <div class="skeleton" style="height: 20px; width: 20px; border-radius: 4px;"></div>
        <div class="skeleton" style="height: 20px; width: 20px; border-radius: 4px;"></div>
      </div>
    </div>

    <!-- Skeleton content -->
    <div class="mbs-2">
      <div class="skeleton" style="height: 200px; width: 100%; border-radius: 4px;"></div>
    </div>
  </div>
</div>
