<div class="skeleton-container">
  <div class="skeleton-header"></div>
  <div class="skeleton-table">
    <div class="skeleton-row"></div>
    <div class="skeleton-row"></div>
    <div class="skeleton-row"></div>
  </div>
</div>